<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% load draw_menu %}
    <link rel="stylesheet" href="{% static '/styles/uptrade.css' %}">
</head>
<body>
    <header>
        <div class="header-wrap flex">
            <ul class="header-list-left">
                <li class="list-left-item">
                    <a href="#" class="header-link">
                        Ссылка №1
                    </a>
                </li>
                <li class="list-left-item">
                    <a href="#" class="header-link">
                        Ссылка №2
                    </a>
                </li>
                <li class="list-left-item">
                    <a href="#" class="header-link">
                        Ссылка №3
                    </a>
                </li>
            </ul>
            <ul class="header-list-right">
                <li class="list-right-item">
                    <a href="#" class="header-link">
                        Контакты
                    </a>
                </li>
                <li class="list-right-item">
                    <a href="#" class="header-link">
                        Личный кабинет
                    </a>
                </li>
                <li class="list-right-item">
                    <a href="#" class="header-link">
                        Проголосовать за сайт
                    </a>
                </li>
            </ul>
        </div>
    </header>


    {% block content %}

    {% endblock %}

    <footer>
        <div class="footer-wrap flex">
            <ul class="header-list-left">
                <li class="list-left-item">
                    <a href="#" class="header-link">
                        Сайт с левами
                    </a>
                </li>
                <li class="list-left-item">
                    <a href="#" class="header-link">
                        Сайт с центрами
                    </a>
                </li>
                <li class="list-left-item">
                    <a href="#" class="header-link">
                        Сайт с правами
                    </a>
                </li>
            </ul>
            <ul class="header-list-right">
                <li class="list-right-item">
                    <a href="#" class="header-link">
                        Телефон
                    </a>
                </li>
                <li class="list-right-item">
                    <a href="#" class="header-link">
                        Грамофон
                    </a>
                </li>
                <li class="list-right-item">
                    <a href="#" class="header-link">
                        Почтальон
                    </a>
                </li>
            </ul>
        </div>
    </footer>

</body>
</html>