
<div class="parents" style="display: flex;">

    {% if parents %}
    {% for par in parents %}
    <span class="par"><a href="/up/trader/{{ par.id }}/"> {{ par }} --></a></span>
    {% endfor %}
    {% endif %}
</div>

<div class="cur-cat">
    <p>{{ object.title }}</p>
</div>

<div class="children" style="display: flex; flex-direction: column;">
    {% if children %}
    {% for child in children %}
    <span class="par"><a href="/up/trader/{{ child.id }}"><-- {{ child }}</a></span>
    {% endfor %}
    {% endif %}
</div>
